@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number] {
  
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
  font-family: 'Rubik';
  font-size: min(10vw, 10vh);
  width: var(--default-cell-size);
  height: var(--default-cell-size);
  border-radius: min(3vh, 3vw);
  border: none;
  margin: min(1vh, 1vw);
  text-align: center;
}

input.num2{
  width: min(23vw, 23vh);
  letter-spacing: calc(var(--default-cell-size) / 2);
}

p{
  font-size: min(10vw, 10vh);
  font-family: 'Rubik';
  width: var(--default-cell-size);
  height: var(--default-cell-size);
  text-align: center;
  margin: 0 0 min(2vw, 2vh) 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --default-cell-size: min(11vw, 11vh);
}